# Node modules
node_modules/

# Environment configuration
.env
.env.local
.env.*.local

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/
*.log

# Vercel
.vercel/
.vercel


.vercel
